@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
}
.header{
  width: 100%;
  padding: 20px 50px;
  background-color: black;
}

.logo{
  height: 40px;
  animation: alpha 1s ;
}

.banner{
  padding: 0;
  width: 100%;
  animation: alpha 1s ;
  & img{
    width: 100%;
  }
}

.categories{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  animation: alpha 5s ;
  & a{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    & h2{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: center;
      color: #faf03d;
      font-size: 3vw;
      max-width: 80%;
    }
  }


  & .fragance{
    background-image: url(./img/perfumes.jpg);
    background-position: center;
    background-size: cover;
  }

  & .skin{
    background-image: url(./img/cuidado-de-piel.jpg);
    background-position: center;
    background-size: cover;
  }

  & .nutrition{
    background-image: url(./img/suplements.jpg);
    background-position: center;
    background-size: cover;
  }
}

footer{
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  & ul {
    display: flex;
    gap: 50px;

    & svg {
      width: 30px;
      height: 30px;
      fill: #fff;
    }
  }
}

@media screen and (max-width:600px) {
  .header{
    display: flex;
    justify-content: center;
  }
  .categories{
    grid-template-columns: 1fr;
  }

  .categories a h2{
    font-size: 7vw;
  }
}

@keyframes alpha {
  from{
    opacity: 0;
  }
  top{
    opacity: 1;
  }
}